{% extends 'base.html' %} {% block content %}
<h1 class="mb-4">Feel Good Coffee</h1>

<div class="row g-4">
  {% for coffee in coffee %}
  <div class="col-12 col-sm-6 col-md-4 col-lg-3">
    <div class="card h-100">
      {% if coffee.image %}
      <img
        src="{{ coffee.image.url }}"
        class="card-img-top"
        alt="{{ coffee.name }}"
      />
      {% endif %}

      <a href="{% url 'coffee_detail' coffee.id %}" class="card-body d-flex flex-column justify-content-between text-decoration-none text-dark">
        <div>
          <h5 class="card-title">{{ coffee.name }}</h5>
          <p class="card-text text-muted small">
            {{ coffee.description|truncatewords:10 }}
          </p>
          <p class="fw-semibold">${{ coffee.price }}</p>
        </div>

        <div class="btn btn-primary"> Add to cart </div>
      </a>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
